:root {
	--ff-regular: 'Roboto', sans-serif;
}

.App {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

/*CSS RESET*/
/* Box sizing rules */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role='list'],
ol[role='list'] {
	list-style: none;
}

/* Set core root defaults */

html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */

body {
	min-height: 100vh;

	text-rendering: optimizeSpeed;

	line-height: 1.5;

	font-family: var(--ff-regular);
}

/* A elements that don't have a class get default styles */

a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img,
picture {
	max-width: 100%;

	display: block;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;

		animation-iteration-count: 1 !important;

		transition-duration: 0.01ms !important;

		scroll-behavior: auto !important;
	}
}

/*styles*/

select {
	padding-inline: 0.5em;
	background: var(--accent-color);
	border: var(--invert-accent) solid 2px;
	color: var(--invert-accent);
	border-radius: 3px;
	text-align: center;
	transition: transform 250ms;
}
select:hover {
	cursor: hover;
	background: var(--invert-accent);
	color: var(--accent-color);
	transform: scale(0.9);
}

button {
	background: var(--accent-color);
	color: var(--invert-accent);
	border: solid 2px var(--invert-accent);
	padding: 0.5em 1em;
	transition: transform 250ms cubic-bezier(0.45, 0.3, 0.26, 1.67), background 250ms ease;
	border-radius: 3px;
}
button:not(.disabled):hover {
	outline: none;
	cursor: pointer;
	background: var(--invert-accent);
	color: var(--accent-color);
}
button:not(.disabled):active {
	transform: scale(0.9);
}
.flex {
	display: flex;
}

.disabled {
	border: #3d3c39 solid 1px;
	background: #3d3c39;
	color: #61605d;
}

.svg-icon {
  transition: transform 250ms ease;
	object-fit: fit;
}
.svg-icon:active {
  transform: scale(0.8);
}
